@using Dash.Resources
@using Dash.Models
@model DatasetColumn

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Datasets.ViewAll" controller="Dataset" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Datasets.EditDataset" controller="Dataset" action="Edit" route-values="@(new { Id = Model.DatasetId })"></breadcrumb-item>
        <breadcrumb-item label="@Datasets.Columns" controller="DatasetColumn" action="Index" route-values="@(new { Id = Model.DatasetId })"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Datasets.CreateColumn : Datasets.EditColumn)" controller="DatasetColumn" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    @using (Html.BeginCustomForm(Model.FormAction, "DatasetColumn", method: Model.FormMethod))
    {
        <input asp-for="Id" type="hidden" />
        <input asp-for="DatasetId" type="hidden" />

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.Title)
                @Html.LabelInputFor(model => model.ColumnName, new { data_toggle = "autocomplete", data_preload = true, data_url = Url.Action("Columns", "Dataset", new { Id = Model.DatasetId }) })
                @Html.LabelDropDownListFor(model => model.DataTypeId, Model.DataTypeList)
                @Html.LabelInputFor(model => model.Derived)
                @Html.LabelDropDownListFor(model => model.FilterTypeId, FilterType.FilterTypeList, new { @data_toggle = "disable", @data_target = "#FilterQuery", @data_match = (int)FilterTypes.Select })
                @Html.LabelInputFor(model => model.FilterQuery)
                @Html.LabelInputFor(model => model.Link)
                @Html.LabelCheckBoxFor(model => model.IsParam)
            </div>
        </div>

        @Html.FormButtons()
    }
</body-content>
