@model Dash.Models.CreateReport
@using Dash.Resources


<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Reports.ViewAll" controller="Report" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Reports.CreateReport" controller="Report" action="@Model.FormAction" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <tab-panel id="report">
        @using (Html.BeginCustomForm(Model.FormAction, "Report", method: Model.FormMethod))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="columns">
                <div class="col-6">
                    @Html.LabelDropDownListFor(model => model.DatasetId, Model.GetDatasetsForUser().ToSelectList(d => d.Name, d => d.Id.ToString()))
                    @Html.LabelInputFor(model => model.Name)
                </div>
            </div>

            @Html.FormButtons()
        }
    </tab-panel>
</body-content>
