@using Dash.I18n
@using Dash.Models
@model Report

<div class="report-form" data-event="reportLoad" data-close-event="reportUnload"
     data-url="@Url.Action("DetailsOptions", "Report", new { id = Model.Id })" data-title="@Model.Name" data-basic-dialog="true">

    <div class="hidden">
        @if (this.User.IsInRole("dataset.create"))
        {
            <div class="p-1 modal-sql" data-title="@Core.ViewSql" data-basic-dialog="true">
                <div class="col-12">
                    <div class="sql-data-content">
                        <h5>@Reports.DataQuery</h5>
                        <pre><code class="language-sql sql-text"></code></pre>
                        <div class="sql-error"></div>
                    </div>
                    <div class="sql-count-content">
                        <h5>@Reports.CountQuery</h5>
                        <pre><code class="language-sql sql-text"></code></pre>
                        <div class="sql-error"></div>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (!Model.ReportColumn.Any())
    {
        <div class="report-data-no-columns">
            <div class="card text-white m-2 bg-warning">
                <div class="card-body">
                    <p class="card-text">@Reports.ErrorNoColumnsSelected</p>
                    @Html.AuthorizedButton(Reports.SelectColumns, "Report", "SelectColumns", new { id = Model.Id }, DashClasses.BtnPrimary, DashClasses.DashDialog,
                        this.User.IsInRole("report.selectcolumns"))
                </div>
            </div>
        </div>
    }

    @if (Model.ReportColumn.Any())
    {
        <div class="row ml-2 mr-2 mb-1 pb-1 tab-nav-content">
            <div class="col-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="nav-item">
                        <a href="#tabFiltersContent_@Model.Id" id="tabFilters_@Model.Id" class="nav-link active" role="tab" data-toggle="tab" aria-controls="tabFiltersContent_@Model.Id">@Reports.Filters</a>
                    </li>
                    <li role="presentation" class="nav-item">
                        <a href="#tabGroupingContent_@Model.Id" id="tabGrouping_@Model.Id" class="nav-link" role="tab" data-toggle="tab" aria-controls="tabGroupingContent_@Model.Id">@Reports.Groups</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Core.Actions</a>
                        <div class="dropdown-menu" role="menu">
                            @if (Model.IsOwner)
                            {
                                @Html.AuthorizedActionLink(Reports.SelectColumns, "SelectColumns", "Report", new { id = Model.Id }, new { @class = "dropdown-item dash-ajax dash-dialog" },
                                    hasAccess: this.User.IsInRole("report.selectcolumns"))
                                @Html.AuthorizedActionLink(Core.Rename, "Rename", "Report", new { id = Model.Id }, new {
                                    @class = "dropdown-item dash-ajax dash-prompt",
                                    @data_method = "PUT",
                                    @data_update_target = ".dialog-header",
                                    @data_message = Reports.NewName
                                }, hasAccess: this.User.IsInRole("report.rename"))
                                @Html.AuthorizedActionLink(Reports.ShareReport, "Share", "Report", new { id = Model.Id }, new {
                                    @class = "dropdown-item dash-ajax dash-dialog",
                                    @data_title = Reports.ShareReport
                                }, hasAccess: this.User.IsInRole("report.share"))
                            }
                            @Html.AuthorizedActionLink(Reports.CopyReport, "Copy", "Report", new { id = Model.Id }, new {
                                @class = "dropdown-item dash-ajax dash-prompt",
                                @data_message = Reports.NewName
                            }, hasAccess: this.User.IsInRole("report.copy"))
                            @if (this.User.IsInRole("dataset.create"))
                            {
                                <a href="#" class="dropdown-item view-sql">@Html.Raw(Core.ViewSql)</a>
                            }

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item disabled">@Core.Owner: @Model.Owner.FullName</a>
                            <a class="dropdown-item disabled">@Reports.Database: @Model.Dataset.Database.Name</a>
                            <a class="dropdown-item disabled">@Reports.Dataset: @Model.Dataset.Name</a>
                        </div>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tabFiltersContent_@Model.Id" aria-labelledby="tabFilters_@Model.Id">
                        <div class="table-wrapper filter-table-wrapper"></div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="tabGroupingContent_@Model.Id" aria-labelledby="tabGrouping_@Model.Id">
                        <div class="table-wrapper group-table-wrapper"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ml-1 mr-1">
            <div class="report-data-container"></div>
        </div>
    }
</div>
