@using Dash.Resources
@using Dash.Models
@model Report

@if (!Model.ReportColumn.Any())
{
    ViewBag.Error = Reports.ErrorNoColumnsSelectedChange;
}

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Reports.ViewAll" controller="Report" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Model.Name" controller="Report" action="Edit" route-values="@(new { Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_ReportTabs" model="new ReportView(Model.Id, Model.IsOwner, ReportViewTab.Edit)" />

    <tab-panel id="report">
        @if (Model.ReportColumn.Any())
        {
            @using (Html.BeginToolbar())
            {
                @Html.AuthorizedActionLink(Core.Export, "Export", "Report", new { Model.Id }, new { @class = "btn btn-primary pjax-no-follow", role = "tab", target = "_blank" })
            }

            <div class="report-data-container container p-2">
                <dynamic-table options="@Model.TableOptions(Url)"></dynamic-table>
            </div>
        }

    </tab-panel>
</body-content>
