@model Dash.Models.Report
@using Dash.Resources

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Reports.ViewAll" controller="Report" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Model.Name" controller="Report" action="Edit" route-values="@(new { Model.Id })"></breadcrumb-item>
        <breadcrumb-item label="@Core.Rename" controller="Report" action="Rename" route-values="@(new { Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <tab-list>
        <tab-item>
            @Html.AuthorizedActionLink(Reports.ViewReport, "Edit", "Report", new { Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("reportfilter.index"))">
            @Html.AuthorizedActionLink(Reports.Filters, "Index", "ReportFilter", new { Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("reportgroup.index"))">
            @Html.AuthorizedActionLink(Reports.Groups, "Index", "ReportGroup", new { Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
        <tab-item no-render="@(!Model.IsOwner)">
            @Html.AuthorizedActionLink(Reports.SelectColumns, "SelectColumns", "Report", new { Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
        <tab-item>
            <tab-active id="renameReport">@Core.Rename</tab-active>
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("report.share"))">
            @Html.AuthorizedActionLink(Reports.ShareReport, "Share", "Report", new { id = Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("report.export"))">
            @Html.AuthorizedActionLink(Core.Export, "Export", "Report", new { Model.Id }, new { @class = "btn btn-link pjax-no-follow", role = "tab", target = "_blank" })
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("report.sql"))">
            @Html.AuthorizedActionLink(Core.ViewSql, "Sql", "Report", new { Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
    </tab-list>

    <tab-panel id="renameReport">
        @using (Html.BeginCustomForm("Rename", "Report", method: HttpVerbs.Put))
        {
            <div class="columns">
                <div class="col-6">
                    @Html.LabelInputFor(model => model.Name)
                </div>
            </div>

            @Html.FormButtons()
        }
    </tab-panel>
</body-content>
