@model Dash.Models.Report
@using Dash.Resources

<body-content>
    <breadcrumb>
        <partial name="_ReportBreadcrumbs" />
        <breadcrumb-item label="@Reports.SelectColumns" controller="Report" action="SelectColumns" route-values="@(new { Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_ReportTabs" model="new ReportView(Model.Id, Model.IsOwner, ReportViewTab.Columns)" />

    <tab-panel id="selectColumns">
        <horizontal-form controller="Report" action="SelectColumns" method="Put" is-full-width="true">
            <input asp-for="Id" type="hidden" />

            <toast id="reportColumnToast" type="Info" message="@Reports.SelectColumnsExplain" />

            <div class="column-list-container" data-toggle="column-selector">
                <div class="container">
                    <div class="columns">
                        <div class="col-6"><h4>@Reports.Available</h4></div>
                        <div class="col-6"><h4>@Reports.Selected</h4></div>
                    </div>
                    <div class="columns column-list">
                        @{
                            var i = -1;
                            var left = -1;
                            var right = -1;
                            foreach (var column in Model.DatasetColumnsByDisplay)
                            {
                                if (column.DisplayOrder > 0)
                                {
                                    ++right;
                                }
                                else
                                {
                                    ++left;
                                }
                                ++i;

                                <div class="column-item column-item-y-@(column.DisplayOrder > 0 ? right : left) @(column.DisplayOrder > 0 ? "column-item-right" : "column-item-left")" data-item-id="@column.Id">
                                    <div>
                                        @column.Title
                                        <input type="hidden" name="Columns[@i].Id" value="@column.ReportColumnId" />
                                        <input type="hidden" name="Columns[@i].ColumnId" value="@column.Id" />
                                        <input type="hidden" name="Columns[@i].DisplayOrder" value="@column.DisplayOrder" class="column-grid-display-order" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
            <form-buttons />
        </horizontal-form>
    </tab-panel>
</body-content>
