@model Dash.Models.Report
@using Dash.Resources

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Reports.ViewAll, "Index", "Report"),
        new Breadcrumb(Reports.SelectColumns, "SelectColumns", "Report", new { id = Model.Id })
    });

    @using (Html.BeginCustomForm("SelectColumns", "Report", null, null, "columnSelectorLoad", htmlAttributes: new { @data_unload_event = "columnSelectorUnload" }, method: HttpVerbs.Put))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.AllowCloseParent)

        <partial name="_Toast" />

        @Html.ToCard(Reports.SelectColumnsExplain, CardTypes.Primary)

        <div class="columns">
            <div class="col-6"><h4>@Reports.Available</h4></div>
            <div class="col-6"><h4>@Reports.Selected</h4></div>
        </div>
        <div class="columns column-list">
            @if (Model != null)
            {
                var i = -1;
                var left = -1;
                var right = -1;
                foreach (var column in Model.DatasetColumnsByDisplay)
                {
                    if (column.DisplayOrder > 0)
                    {
                        ++right;
                    }
                    else
                    {
                        ++left;
                    }
                    ++i;

                    <div class="column-item column-item-y-@(column.DisplayOrder > 0 ? right : left) @(column.DisplayOrder > 0 ? "column-item-right" : "column-item-left")" data-item-id="@column.Id">
                        <div>
                            @column.Title
                            <input type="hidden" name="Columns[@i].Id" value="@column.ReportColumnId" />
                            <input type="hidden" name="Columns[@i].ColumnId" value="@column.Id" />
                            <input type="hidden" name="Columns[@i].DisplayOrder" value="@column.DisplayOrder" class="column-grid-display-order" />
                        </div>
                    </div>
                }
            }
        </div>

        @Html.FormButtons()
    }
}
