@using Dash.I18n
@model Dash.Models.Report

@using (Html.BeginBodyContent(Reports.ShareReport))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Reports.ViewAll, "Index", "Report"),
        new Breadcrumb(Reports.ShareReport, "Share", "Report", new { id = Model.Id })
    });

    @using (Html.BeginCustomForm("Share", "Report", null, null, "reportShareLoad", null, new { @class = "report-share-form", @data_unload_event = "reportShareUnload" }, true, HttpVerbs.Put))
    {
        @Html.HiddenFor(model => model.Id)

        <partial name="_Toast" />

        @Html.ToCard(Reports.ShareReportExplain)

        <div class="columns">
            <div class="share-table-wrapper" data-json="@Model.ShareOptionsJson"></div>
        </div>

        @Html.FormButtons();
    }
}
