@using Dash.Resources
@using Dash.Models
@model Dataset

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Datasets.ViewAll" controller="Dataset" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Datasets.CreateDataset : Datasets.EditDataset)" controller="Dataset" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_DatasetTabs" model="new DatasetView(Model.Id, Model.IsCreate, DatasetViewTab.Overview)" />

    <tab-panel id="overview">
        @using (Html.BeginCustomForm(Model.FormAction, "Dataset", method: Model.FormMethod))
        {
            @Html.HiddenFor(model => model.Id)

            <div class="columns">
                <div class="col-6">
                    @Html.LabelInputFor(model => model.Name)
                    @Html.LabelDropDownListFor(model => model.DatabaseId, new SelectList(Model.DbContext.GetAll<Database>(), "Id", "Name"), new { @class = "dataset-database" })
                    @Html.LabelDropDownListFor(model => model.TypeId, Model.TypeList, new { @class = "dataset-type" })
                    @Html.LabelInputFor(model => model.PrimarySource, new { data_toggle = "autocomplete", data_url = Url.Action("Sources", "Dataset"), data_params = "#DatabaseId,#TypeId" })
                    @Html.LabelTextAreaFor(model => model.Description)
                    @Html.LabelTextAreaFor(model => model.Conditions)
                </div>

                <div class="col-6">
                    @Html.LabelInputFor(model => model.DateFormat, groupAddOn: Html.InputGroupButton("DateFormat", Html.Icon("list-numbered", false, true), Model.DefaultDateFormats))
                    @Html.LabelInputFor(model => model.CurrencyFormat, groupAddOn: Html.InputGroupButton("CurrencyFormat", Html.Icon("list-numbered", false, true), Model.DefaultCurrencyFormats))

                    <!-- TODO needs to be replaced - probably with a sharing mechanism like reports/charts have  -->
                    <div class="form-group">
                        @Html.ControlLabel("RoleIds", Datasets.Roles)
                        <div class="col-8 checkbox-block">
                            @foreach (var role in Model.GetAllRoles())
                            {
                                @Html.CustomCheckbox("RoleIds", Html.IsChecked(Model.DatasetRole, x => x.RoleId == role.Id, (int[])ViewBag.SelectedRoleIds, role.Id), role.Id.ToString(), role.Name, $"dataset_role_{role.Id}", isMultiple: true)
                            }
                            @Html.HelpFor(model => model.DatasetRole, false)
                        </div>
                    </div>
                </div>
            </div>

            @Html.FormButtons()
        }
    </tab-panel>
</body-content>
