@using Dash.I18n
@using Dash.Models
@model Dataset

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Datasets.ViewAll, "Index", "Dataset"),
        new Breadcrumb(Model.IsCreate ? Datasets.CreateDataset : Datasets.EditDataset, Model.FormAction, "Dataset", Model.IsCreate ? null : new { id = Model.Id })
    });

    <partial name="_Toast" />

    <ul class="tab tab-block m-2" role="tablist">
        <li role="presentation" class="tab-item">
            <a id="overviewTab_@Model.Id" class="active" role="tab" data-toggle="tab" aria-controls="overviewTab_@Model.Id">@Html.Raw(Datasets.Overview)</a>
        </li>
        @if (!Model.IsCreate)
        {
            <li role="presentation" class="tab-item">
                @Html.AuthorizedActionLink(Datasets.Joins, "Index", "DatasetJoin", new { DatasetId = Model.Id }, new { @class = "btn btn-link", role = "tab" }, hasAccess: User.IsInRole("datasetjoin.index"))
            </li>
            <li role="presentation" class="tab-item">
                @Html.AuthorizedActionLink(Datasets.Columns, "Index", "DatasetColumn", new { DatasetId = Model.Id }, new { @class = "btn btn-link", role = "tab" }, hasAccess: User.IsInRole("datasetcolumn.index"))
            </li>
        }
    </ul>

    <div class="tab-content m-2">
        <div role="tabpanel" class="tab-pane active" id="overviewContent_@Model.Id" aria-labelledby="overviewTab_@Model.Id">
            @using (Html.BeginCustomForm(Model.FormAction, "Dataset", null, null, "datasetFormLoad", Url.Action("FormOptions", "Dataset"), new {
                @class = "dataset-form",
                @data_table_url = @Url.Action("Sources"),
                @data_column_url = @Url.Action("TableColumns"),
                @data_import_url = @Url.Action("ReadSchema"),
                @data_unload_event = "datasetFormUnload"
            }, method: Model.FormMethod))
            {
                @Html.HiddenFor(model => model.Id, new { @class = "dataset-id" })

                <div class="columns">
                    <div class="col-6">
                        @Html.LabelInputFor(model => model.Name)
                        @Html.LabelDropDownListFor(model => model.DatabaseId, new SelectList(Model.DbContext.GetAll<Database>(), "Id", "Name"), new { @class = "dataset-database" })
                        @Html.LabelDropDownListFor(model => model.TypeId, Model.TypeList, new { @class = "dataset-type" })
                        <div class="form-group">
                            <label class="form-label col-4 required" for="PrimarySource">@Datasets.PrimarySource</label>
                            <div class="col-8">
                                <div class="dataset-primary-source" data-value="@Model.PrimarySource"></div>
                            </div>
                        </div>
                        @Html.LabelTextAreaFor(model => model.Description)
                        @Html.LabelTextAreaFor(model => model.Conditions)
                    </div>

                    <div class="col-6">
                        @Html.LabelInputFor(model => model.DateFormat, groupAddOn: Html.InputGroupButton("DateFormat", Html.Icon("list-numbered", false, true), Model.DefaultDateFormats))
                        @Html.LabelInputFor(model => model.CurrencyFormat, groupAddOn: Html.InputGroupButton("CurrencyFormat", Html.Icon("list-numbered", false, true), Model.DefaultCurrencyFormats))

                        <div class="form-group">
                            @Html.ControlLabel("RoleIds", Datasets.Roles)
                            <div class="col-8 checkbox-block">
                                @foreach (var role in Model.GetAllRoles())
                                {
                                    @Html.CustomCheckbox("RoleIds", Html.IsChecked(Model.DatasetRole, x => x.RoleId == role.Id, (int[])ViewBag.SelectedRoleIds, role.Id), role.Id.ToString(), role.Name, $"dataset_role_{role.Id}", isMultiple: true)
                                }
                                @Html.HelpFor(model => model.DatasetRole, false)
                            </div>
                        </div>
                    </div>
                </div>

                @Html.FormButtons()
            }
        </div>
    </div>
}
