@using Dash.Resources
@using Dash.Models
@model Dataset

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Datasets.ViewAll" controller="Dataset" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Datasets.CreateDataset : Datasets.EditDataset)" controller="Dataset" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_DatasetTabs" model="new DatasetView(Model.Id, Model.IsCreate, DatasetViewTab.Overview)" />

    <tab-panel id="overview">
        <horizontal-form for="Model">
            <input asp-for="Id" type="hidden" />

            <form-group-input for="Name" autofocus="true" />
            <form-group-select for="DatabaseId" options="@(Model.DbContext.GetAll<Database>().ToSelectList(x => x.Name, x => x.Id.ToString()))" />
            <form-group-select for="TypeId" options="@Model.TypeList" />
            <form-group-input for="PrimarySource" autofocus="true" toggle="@DataToggles.Autocomplete" url="@Url.Action("Sources", "Dataset")" params="#DatabaseId,#TypeId" />
            <form-group-textarea for="Conditions" />
            <form-group-input for="DateFormat">
                <form-group-addon>
                    <dropdown target-id="DateFormat" items="@Model.DefaultDateFormats" toggle="@DataToggles.InputReplace">
                        <icon name="@DashIcons.ListNumbered" />
                    </dropdown>
                </form-group-addon>
            </form-group-input>
            <form-group-input for="CurrencyFormat">
                <form-group-addon>
                    <dropdown target-id="CurrencyFormat" items="@Model.DefaultCurrencyFormats" toggle="@DataToggles.InputReplace">
                        <icon name="@DashIcons.ListNumbered" />
                    </dropdown>
                </form-group-addon>
            </form-group-input>

            @* TODO probably needs to be replaced with a sharing mechanism like reports/charts have *@
            <div class="form-group">
                <form-label for="RoleIds" />
                <div class="col-8 checkbox-block">
                    @foreach (var role in Model.GetAllRoles())
                    {
                        <form-checkbox name="RoleIds" is-checked="@Extensions.IsChecked(Model.DatasetRole, x => x.RoleId == role.Id, Model.RoleIds?.ToArray(), role.Id)" value="@role.Id" label="@role.Name" />
                    }
                    <form-help for="DatasetRole" />
                </div>
            </div>

            <form-buttons />
        </horizontal-form>
    </tab-panel>
</body-content>
