@using Dash.I18n
@using Dash.Models
@model User

@using (Html.BeginBootForm(Model.FormAction, "User", null, Model.IsCreate ? Users.CreateUser : Users.EditUser, method: Model.FormMethod)) {
    @Html.HiddenFor(model => model.Id)

    <div class="col">
        @Html.LabelInputFor(model => model.UID)
        @Html.LabelInputFor(model => model.FirstName)
        @Html.LabelInputFor(model => model.LastName)
        @Html.LabelCheckBoxFor(model => model.IsActive)

        @if (Dash.Authorization.UsingDashAuth)
        {
            @Html.LabelPasswordFor(model => model.Password, new { data_match = "ConfirmPassword", required = Model.Id == 0 })
            @Html.LabelPasswordFor(model => model.ConfirmPassword, new { required = Model.Id == 0 })
        }
    </div>

    <div class="col">
        @Html.LabelInputFor(model => model.Email, inputType: Dash.Html.InputFieldType.Email)
        @Html.LabelDropDownListFor(model => model.LanguageId, Html.GetSelectList<Language>())

        <div class="form-group row">
            @Html.ControlLabel("roleIds", Users.Roles)
            <div class="col-8 checkbox-block">
                @foreach (var role in Model.AllRoles)
                {
                    @Html.CustomCheckbox("roleIds", Html.IsChecked(Model.UserRole, x => x.RoleId == role.Id, ((int[])ViewBag.SelectedRoleIds), role.Id), role.Id.ToString(), role.Name)
                }
                @Html.HelpFor(model => model.UserRole, false, true)
            </div>
        </div>
    </div>
}