@using Dash.Resources
@using Dash.Models
@model User

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Users.ViewAll" controller="User" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Users.CreateUser : Users.EditUser)" controller="User" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <horizontal-form for="Model">
        <input asp-for="Id" type="hidden" />

        <form-group-input for="UserName" autofocus="true" />
        <form-group-input for="FirstName" />
        <form-group-input for="LastName" />
        <form-group-input for="Password" is-required="@(Model.Id == 0)" help-text="@Model.PasswordHelpText" />
        <form-group-input for="ConfirmPassword" is-required="@(Model.Id == 0)" />
        <form-group-input for="Email" />
        <form-group-select for="LanguageId" options="@(Model.DbContext.GetAll<Language>().ToSelectList(x => x.Name, x=> x.Id.ToString()))" />
        <form-group-checkbox for="AllowSingleFactor" />
        <div class="form-group">
            <form-label for="RoleIds" />
            <div class="col-8 checkbox-block">
                @foreach (var role in Model.AllRoles)
                {
                    <form-checkbox name="RoleIds" is-checked="@Extensions.IsChecked(Model.UserRole, x => x.RoleId == role.Id, ((int[])ViewBag.SelectedRoleIds), role.Id)" value="@role.Id" label="@role.Name" />
                }
                <form-help for="UserRole" />
            </div>
        </div>

        <form-buttons />
    </horizontal-form>
</body-content>
