@using Dash.Resources
@using Dash.Models
@model ChartShare

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Charts.ViewAll" controller="Chart" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Model.ChartName" controller="Chart" action="Edit" route-values="@(new { Id = Model.ChartId })"></breadcrumb-item>
        <breadcrumb-item label="@Charts.ShareChart" controller="ChartShare" action="Index" route-values="@(new { Id = Model.ChartId })"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Charts.CreateShare : Charts.EditShare)" controller="ChartShare" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    @using (Html.BeginCustomForm(Model.FormAction, "ChartShare", method: Model.FormMethod))
    {
        <input asp-for="Id" type="hidden" />
        <input asp-for="ChartId" type="hidden" />

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelDropDownListFor(x => x.UserId, Model.UserSelectListItems, new { data_toggle = "disable", data_target = "#RoleId", data_match = "" })
                @Html.LabelDropDownListFor(x => x.RoleId, Model.RoleSelectListItems, new { data_toggle = "disable", data_target = "#UserId", data_match = "" })
            </div>
        </div>

        @Html.FormButtons()
    }
</body-content>
