@using Dash.Resources
@model Dash.Models.Widget

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Model.IsCreate ? Widgets.CreateWidget : Widgets.EditWidget, Model.FormAction, "Dashboard", Model.IsCreate ? null : new { id = Model.Id })
    });

    @using (Html.BeginCustomForm(Model.FormAction, "Dashboard", method: Model.FormMethod))
    {
        <input asp-for="Id" type="hidden" />
        <input asp-for="X" type="hidden" />
        <input asp-for="Y" type="hidden" />
        <input asp-for="Width" type="hidden" />
        <input asp-for="Height" type="hidden" />

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.Title)
                @Html.LabelDropDownListFor(model => model.ReportId, Model.GetReportSelectList())
                @Html.LabelDropDownListFor(model => model.ChartId, Model.GetChartSelectList())
                @Html.LabelDropDownListFor(model => model.RefreshRate, Model.GetWidgetRefreshRateSelectList())
            </div>
        </div>

        @Html.FormButtons();
    }
}
