@using Dash.I18n

<div data-title="@Core.GetStarted" data-basic-dialog="true">
    @if (this.User.IsInRole("user.create")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateUser, "User", "Create", DashClasses.BtnWarning, DashClasses.DashDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextUser)</div>
        </div>
    }
    @if (this.User.IsInRole("database.create")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateDatabase, "Database", "Create", DashClasses.BtnPrimary, DashClasses.DashDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextDatabase)</div>
        </div>
    }
    @if (this.User.IsInRole("dataset.create")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateDataset, "Dataset", "Create", DashClasses.BtnInfo, DashClasses.DashDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextDataset)</div>
        </div>
    }
    @if (this.User.IsInRole("report.create")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateReport, "Report", "Create", DashClasses.BtnSuccess, DashClasses.DashDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextReport)</div>
        </div>
    }
    @if (this.User.IsInRole("chart.create")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateChart, "Chart", "Create", DashClasses.BtnSecondary, DashClasses.DashDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextChart)</div>
        </div>
    }
</div>
