@using Dash.I18n

<div data-title="@Core.GetStarted" data-basic-dialog="true">
    @if (Dash.Authorization.HasAccess("User", "Index")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateUser, "User", "Create", RngnClasses.BtnWarning, RngnClasses.RngnDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextUser)</div>
        </div>
    }
    @if (Dash.Authorization.HasAccess("Database", "Index")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateDatabase, "Database", "Create", RngnClasses.BtnPrimary, RngnClasses.RngnDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextDatabase)</div>
        </div>
    }
    @if (Dash.Authorization.HasAccess("Dataset", "Index")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateDataset, "Dataset", "Create", RngnClasses.BtnInfo, RngnClasses.RngnDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextDataset)</div>
        </div>
    }
    @if (Dash.Authorization.HasAccess("Report", "Index")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateReport, "Report", "Create", RngnClasses.BtnSuccess, RngnClasses.RngnDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextReport)</div>
        </div>
    }
    @if (Dash.Authorization.HasAccess("Chart", "Index")) {
        <div class="row pb-5">
            <div class="col-3"><div class="float-right">@Html.AuthorizedButton(Core.CreateChart, "Chart", "Create", RngnClasses.BtnSecondary, RngnClasses.RngnDialog)</div></div>
            <div class="col-9">@Html.Raw(Core.TextChart)</div>
        </div>
    }
</div>