@model Dash.Models.WidgetView
@using Dash.Resources;

<div id="widget_@Model.Id" class="grid-item grid-item-width-@Model.Width grid-item-height-@Model.Height grid-item-x-@Model.X grid-item-y-@Model.Y" data-toggle="@DataToggles.Widget.ToHyphenCase()" data-refresh="@Model.RefreshSeconds">
    <div class="grid-header columns">
        <span class="grid-title col-9">@Model.Title</span>
        <span class="grid-buttons col-3 text-right">
            <dropdown target-id="DateFormat" items="@Model.DropDownItems">
                <icon name="@DashIcons.Menu" />
            </dropdown>
        </span>
    </div>
    <div class="grid-body">
        @if (Model.IsData)
        {
            <div class="widget-data" id="widgetData_@Model.Id">
                <partial name="_Report" for="@Model.Report" />
            </div>
        }
        else
        {
            <div class="widget-chart" id="widgetChart_@Model.Id" data-url="@Url.Action("Data", "Chart", new { id = Model.ChartId })">
                <partial name="_Chart" />
            </div>
        }
    </div>
    <div class="grid-footer">
        <span class="grid-updated-time">@DateTime.Now.ToLongTimeString()</span>
        <span class="resizable-handle float-right"><i class="dash dash-corner"></i></span>
        <span class="drag-handle float-right"><i class="dash dash-move"></i></span>
    </div>
</div>
