@using Dash.Resources
@model Dash.Models.Alert

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Alerts.ViewAll" controller="Alert" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Alerts.CreateAlert : Alerts.EditAlert)" controller="Alert" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <horizontal-form for="Model">
        <input asp-for="Id" type="hidden" />

        <form-group-input for="Name" autofocus="true" />
        <form-group-select for="ReportId" options="@Model.GetReportsForUser(User.UserId()).ToSelectList(x => x.Name, x => x.Id.ToString())" />
        <form-group-input for="Subject" />
        <form-group-input for="SendTo" />
        <form-group-input for="ResultCount" />
        <form-group-input for="NotificationInterval" />
        <form-group-checkbox for="IsActive" />

        <form-label name="Schedule" title="@Alerts.Schedule" is-required="true" />
        <div class="col-12">
            <form-group-input for="CronMinute" />
            <form-group-input for="CronHour" />
            <form-group-input for="CronDayOfMonth" />
            <form-group-input for="CronMonth" />
            <form-group-input for="CronDayOfWeek" />
        </div>

        <form-buttons />
    </horizontal-form>
</body-content>
