@using Dash.Resources
@model Dash.Models.Alert

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Alerts.ViewAll" controller="Alert" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Alerts.CreateAlert : Alerts.EditAlert)" controller="Alert" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    @using (Html.BeginCustomForm(Model.FormAction, "Alert", method: Model.FormMethod))
    {
        @Html.HiddenFor(model => model.Id)

        <div class="columns">
            <div class="col-6 col-lg-9">
                @Html.LabelInputFor(model => model.Name)
                @Html.LabelDropDownListFor(model => model.ReportId, Model.GetReportsForUser(User.UserId()).ToSelectList(x => x.Name, x => x.Id.ToString()))
                @Html.LabelInputFor(model => model.Subject)
                @Html.LabelInputFor(model => model.SendTo)
                @Html.LabelInputFor(model => model.ResultCount)
                @Html.LabelInputFor(model => model.NotificationInterval)
                @Html.LabelCheckBoxFor(model => model.IsActive)

                @Html.ControlLabel("Schedule", Alerts.Schedule)
                <div class="col-12">
                    @Html.LabelInputFor(model => model.CronMinute, new { TypeHint = "text" })
                    @Html.LabelInputFor(model => model.CronHour, new { TypeHint = "text" })
                    @Html.LabelInputFor(model => model.CronDayOfMonth, new { TypeHint = "text" })
                    @Html.LabelInputFor(model => model.CronMonth, new { TypeHint = "text" })
                    @Html.LabelInputFor(model => model.CronDayOfWeek, new { TypeHint = "text" })

                    @Html.Help("Alert", "Schedule", false)
                </div>
            </div>
        </div>

        @Html.FormButtons()
    }
</body-content>
