@using System.Globalization;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@(((string)ViewBag.Title).IsEmpty() ? Dash.Resources.Core.Dashboard : ViewBag.Title)</title>
    <link rel="stylesheet" href="~/css/bundle.css" />
    <link rel="icon" href="~/favicon.ico">
</head>
<body data-base-url="@Url.Content("~")" data-resx="@Url.Action("Index", "Resx", null)" data-lang="@(CultureInfo.DefaultThreadCurrentCulture?.TwoLetterISOLanguageName ?? "en")">
    <div id="fullPageBody">
        <partial name="_NavBar" />
        <div id="contentWrapper">
            @RenderBody()
        </div>
    </div>

    <div id="loader" class="dialog-loading d-none">
        <div class="loading loading-lg"></div>
    </div>

    <script type="text/javascript" src="~/js/bundle.js"></script>
</body>
</html>
