@using System.Globalization;
@using Dash.Resources;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@(((string)ViewBag.Title).IsEmpty() ? Dash.Resources.Core.Dashboard : ViewBag.Title)</title>
    <link rel="stylesheet" href="~/css/bundle.css" />
    <link rel="icon" href="~/favicon.ico">
</head>
<body data-base-url="@Url.Content("~")" data-resx="@Url.Action("Index", "Resx", null)" data-lang="@(CultureInfo.DefaultThreadCurrentCulture?.TwoLetterISOLanguageName ?? "en")">
    <div id="fullPageBody">
        <partial name="_NavBar" />
        <div id="contentWrapper">
            @RenderBody()
        </div>
    </div>

    <div id="loader" class="dialog-loading d-none">
        <div class="loading loading-lg"></div>
    </div>

    <script id="tableHeaderTemplate" type="text/x-dot-template">
        <div class="container">
            <div class="columns form-horizontal m-2">
                <div class="col-6">
                    <div class="input-group col-5 col-xl-8 col-mr-auto">
                        <span class="input-group-addon text-no-select" title="@Core.Search"><i class="dash dash-search"></i></span>
                        <input type="text" class="form-input dotable-search-input" value="{{=x.searchQuery}}">
                    </div>
                </div>
                <div class="col-6">
                    <div class="input-group col-5 col-xl-8 col-ml-auto">
                        <span class="input-group-addon text-no-select" title="@Core.PerPage"><i class="dash dash-list-bullet"></i></span>
                        <select class="form-select dotable-items-input">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="tableFooterTemplate" type="text/x-dot-template">
        <div class="container">
            <div class="columns m-2">
                <div class="col-6 col-xs-12 my-auto">{{=x.currentStartItem+1}} - {{=x.currentEndItem}} of {{=x.filteredTotal}}</div>
                <div class="col-6 col-xs-12 btn-toolbar text-right">
                    <button type="button" role="button" title="@Core.FirstPage" class="btn"><i class="dash dash-to-start-alt text-primary"></i></button>
                    <button type="button" role="button" title="@Core.PreviousPage" class="btn"><i class="dash dash-to-start text-primary"></i></button>
                    <button type="button" role="button" title="@Core.NextPage" class="btn"><i class="dash dash-to-end text-primary"></i></button>
                    <button type="button" role="button" title="@Core.LastPage" class="btn"><i class="dash dash-to-end-alt text-primary"></i></button>
                </div>
            </div>
        </div>
    </script>

    <script id="tableBodyTemplate" type="text/x-dot-template">
        <div class="dotable-scrollable">
            <div class="dotable-area">
                <table class="table table-hover table-sm table-striped dotable-data">
                    <colgroup class="dotable-column-group">
                        {{~x.opts.columns :value:index}}
                        <col>
                        {{~}}
                    </colgroup>
                    <thead class="dotable-head">
                        <tr>
                            {{~x.opts.columns :value:index}}
                            <th class="text-no-select{{? !value.sortable }} disabled{{?}}">
                                {{=value.label}} {{? value.sortable }}<i class="float-right dash dotable-arrow {{?!value.dir}}dash-sort{{??value.dir === 'desc'}}dash-sort-down{{??value.dir === 'asc'}}dash-sort-up{{?}}" data-type="{{=value.dataType}}" data-field="{{=value.field}}" />{{?}}
                            </th>
                            {{~}}
                        </tr>
                    </thead>
                    <tbody class="dotable-body"></tbody>
                </table>
            </div>
        </div>
    </script>

    <script id="rowTemplate" type="text/x-dot-template">
        <tr>
            {{~x.columns :col:index}}
            <td>
                {{=col.value}}
            </td>
            {{~}}
        </tr>
    </script>

    <script type="text/javascript" src="~/js/bundle.js"></script>
</body>
</html>
