@using System.Globalization;
@using Dash.Resources;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>@(((string)ViewBag.Title).IsEmpty() ? Dash.Resources.Core.Dashboard : ViewBag.Title)</title>
    <link rel="stylesheet" href="~/css/bundle.css.gz" asp-append-version="true" />
    <link rel="icon" href="~/favicon.ico">
</head>
<body data-base-url="@Url.Content("~")" data-lang="@(CultureInfo.DefaultThreadCurrentCulture?.TwoLetterISOLanguageName ?? "en")"
      data-okay="@Core.Okay" data-cancel="@Core.Cancel" data-error-prompt="@Core.ErrorNameRequired" data-error-refresh="@Core.ErrorRefresh">

    <div id="fullPageBody">
        <partial name="_NavBar" />
        <div id="contentWrapper">
            @RenderBody()
        </div>
    </div>

    <div id="loader" class="dialog-loading d-none">
        <div class="loading loading-lg"></div>
    </div>

    <div id="reloader" class="dialog-loading d-none">
        <i class="dash dash-emo-unhappy reloading"></i>
    </div>

    <script id="tableHeaderTemplate" type="text/html">
        {{?x.opts.editable}}
        <div class="container">
            <div class="columns form-horizontal m-2">
                <div class="col-6 col-sm-12">
                    <div class="input-group col-5 col-xl-8 col-mr-auto">
                        {{?x.opts.searchable}}
                        <span class="input-group-addon text-no-select" title="@Core.Search"><i class="dash dash-search"></i></span>
                        <input type="text" class="form-input dotable-search-input" value="{{=x.searchQuery}}">
                        {{?}}
                    </div>
                </div>
                <div class="col-6 col-sm-12">
                    <div class="input-group col-5 col-xl-8 col-ml-auto">
                        <span class="input-group-addon text-no-select" title="@Core.PerPage"><i class="dash dash-list-bullet"></i></span>
                        <select class="form-select dotable-items-input">
                            @Html.Raw("<option value=\"10\" {{?x.itemsPerPage === 10}}selected{{?}}>10</option>")
                            @Html.Raw("<option value=\"20\" {{?x.itemsPerPage === 20}}selected{{?}}>20</option>")
                            @Html.Raw("<option value=\"50\" {{?x.itemsPerPage === 50}}selected{{?}}>50</option>")
                            @Html.Raw("<option value=\"100\" {{?x.itemsPerPage === 100}}selected{{?}}>100</option>")
                        </select>
                    </div>
                </div>
            </div>
        </div>
        {{?}}
    </script>

    <script id="tableFooterTemplate" type="text/html">
        <div class="container">
            <div class="columns m-2">
                <div class="col-6 col-sm-12 text-bold"><span class="dotable-start-item">{{=(x.filteredTotal ? x.currentStartItem + 1 : 0)}}</span> - <span class="dotable-end-item">{{=x.currentEndItem}}</span> @Core.TableOf <span class="dotable-total-items">{{=x.filteredTotal}}</span></div>
                <div class="col-6 col-sm-12 btn-toolbar text-right">
                    <button type="button" role="button" title="@Core.FirstPage" class="btn dotable-btn-first"><i class="dash dash-to-start-alt text-primary"></i></button>
                    <button type="button" role="button" title="@Core.PreviousPage" class="btn dotable-btn-previous"><i class="dash dash-to-start text-primary"></i></button>
                    <button type="button" role="button" title="@Core.NextPage" class="btn dotable-btn-next"><i class="dash dash-to-end text-primary"></i></button>
                    <button type="button" role="button" title="@Core.LastPage" class="btn dotable-btn-last"><i class="dash dash-to-end-alt text-primary"></i></button>
                </div>
            </div>
        </div>
    </script>

    <script id="tableBodyTemplate" type="text/html">
        <div class="dotable-scrollable">
            <div class="dotable-area">
                <table class="table table-hover table-sm table-striped dotable-data">
                    <colgroup class="dotable-column-group">
                        {{~x.opts.columns :value:index}}
                        <col>
                        {{~}}
                    </colgroup>
                    <thead class="dotable-head">
                        <tr>
                            {{~x.opts.columns :value:index}}
                            <th class="text-no-select{{?!value.sortable}} disabled{{?}}">
                                {{=value.label}}
                                {{?value.sortable}}<i class="float-right dash dotable-arrow {{?!value.sortDir && x.opts.editable}}dash-sort{{??value.sortDir === 'DESC'}}dash-sort-down{{??value.sortDir === 'ASC'}}dash-sort-up{{?}} {{?!x.opts.editable}}disabled{{?}}" data-type="{{=value.dataType}}" data-field="{{=value.field}}" />{{?}}
                            </th>
                            {{~}}
                        </tr>
                    </thead>
                    <tbody class="dotable-body"></tbody>
                </table>
            </div>
        </div>
    </script>

    <script id="tableLoadingTemplate" type="text/html">
        <tr><td colspan="{{=x}}"><div class="loading loading-lg"></div></td></tr>
    </script>

    <script id="tableNoDataTemplate" type="text/html">
        <tr><td colspan="{{=x}}">@Core.NoData</td></tr>
    </script>

    <script id="tableLoadingError" type="text/html">
        <tr class="table-loading-error">
            <td colspan="{{=x}}">
                <div class="table-loading-error-message">
                    @Core.LoadingError
                    <button type="button" role="button" title="@Core.TryAgain" class="btn btn-info btn-sm dotable-btn-refresh">@Core.TryAgain</button>
                </div>
            </td>
        </tr>
    </script>

    <script type="text/javascript" src="~/js/bundle.js.gz" asp-append-version="true"></script>
</body>
</html>
