@using Dash.Resources

<div id="sidebarWrapper">
    <ul class="nav-side">
        <li id="menuBtn" class="c-hand" data-toggle="nav-menu">
            <a><i class="dash dash-menu rn-lg"></i></a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <authorized-menu-item controller="Dashboard" action="Index" title="@Core.Dashboard" icon="gauge" />
            <authorized-menu-item controller="Dashboard" action="Create" title="@Widgets.LinkAdd" icon="plus" />
            <li class="divider"></li>
            <authorized-menu-item controller="Database" action="Index" title="@Databases.MenuItem" icon="database" />
            <authorized-menu-item controller="Dataset" action="Index" title="@Datasets.MenuItem" icon="th" />
            <authorized-menu-item controller="Report" action="Index" title="@Reports.MenuItem" icon="list-alt" />
            <authorized-menu-item controller="Chart" action="Index" title="@Charts.MenuItem" icon="chart-bar" />
            <authorized-menu-item controller="Alert" action="Index" title="@Alerts.MenuItem" icon="bell-alt" />
            <authorized-menu-item controller="User" action="Index" title="@Users.MenuItem" icon="user" />
            <authorized-menu-item controller="Role" action="Index" title="@Roles.MenuItem" icon="key" />
            if (User.IsInRole("hangfire.dashboard"))
            {
                <li class="divider"></li>
                <li>
                    <a href="~/hangfire" title="@Core.Hangfire" class="pjax-no-follow">
                        <i class="dash dash-fire dash-lg"></i> <span>@Core.Hangfire</span>
                    </a>
                </li>
                <li class="divider"></li>
            }
            <authorized-menu-item controller="Account" action="ToggleContextHelp" title="@Core.ToggleHelp" icon="help" force-reload="true" />
            <li class="divider"></li>
            <authorized-menu-item controller="Account" action="Update" title="@Account.UpdateAccount" icon="asterisk" />
            <authorized-menu-item controller="Account" action="LogOff" title="@Account.Logout" icon="logout" has-access="true" is-pjax="false" />
        }
        else
        {
            <authorized-menu-item controller="Account" action="Login" title="@Account.Login" icon="login" has-access="true" />
            <authorized-menu-item controller="Account" action="ForgotPassword" title="@Account.ForgotPassword" icon="lamp" has-access="true" />
            <authorized-menu-item controller="Role" action="Index" title="@Roles.MenuItem" icon="key" />
        }
    </ul>
</div>
