@using Dash.I18n
@using Microsoft.AspNetCore.Http

<div id="sidebarWrapper">
    <ul class="nav-side" id="menu">
        <li id="menuBtn">
            <a><i class="dash dash-menu rn-lg"></i></a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            @Html.AuthorizedMenu(Widgets.LinkAdd, "Create", "Dashboard", "plus", User.IsInRole("dashboard.create"))
            <li class="dropdown-divider"></li>
            @Html.AuthorizedMenu(Databases.MenuItem, "Index", "Database", "database", User.IsInRole("database.index"))
            @Html.AuthorizedMenu(Datasets.MenuItem, "Index", "Dataset", "th", User.IsInRole("dataset.index"))
            @Html.AuthorizedMenu(Reports.MenuItem, "Index", "Report", "list-alt", User.IsInRole("report.index"))
            @Html.AuthorizedMenu(Charts.MenuItem, "Index", "Chart", "chart-bar", User.IsInRole("chart.index"))
            @Html.AuthorizedMenu(Users.MenuItem, "Index", "User", "user", User.IsInRole("user.index"))
            @Html.AuthorizedMenu(Dash.I18n.Roles.MenuItem, "Index", "Role", "key", User.IsInRole("role.index"))
            @Html.AuthorizedMenu(Permissions.MenuItem, "Index", "Permission", "lock-open", User.IsInRole("permission.index"))
            <li class="dropdown-divider"></li>
            @Html.AuthorizedMenu(Core.GetStarted, "Start", "Dashboard", "lightbulb", User.IsInRole("dashboard.start"))
            <li>
                <a href="@Url.Action("ToggleContextHelp","Account")" id="toggleContextHelpBtn" class="@Html.Raw(Context.Session.GetString("ContextHelp").ToBool() ? "help-active" : "")" title="@Core.ToggleHelp">
                    <i class="dash dash-help dash-lg"></i> <span>@Html.Raw(Core.ToggleHelp)</span>
                </a>
            </li>
            <li class="dropdown-divider"></li>
            @Html.AuthorizedMenu(Account.UpdateAccount, "Update", "Account", "asterisk", User.IsInRole("account.update"))
            @Html.AuthorizedMenu(Account.Logout, "LogOff", "Account", "logout", User.IsInRole("account.logoff"))
        }
    </ul>
</div>