@using Dash.I18n
@using Microsoft.AspNetCore.Http

<div class="sidebar-wrapper">
    <ul class="nav-side">
        <li id="menuBtn" class="c-hand">
            <a><i class="dash dash-menu rn-lg"></i></a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            @Html.AuthorizedMenu(Core.Dashboard, "Index", "Dashboard", "gauge", User.IsInRole("dashboard.index"))
            @Html.AuthorizedMenu(Widgets.LinkAdd, "Create", "Dashboard", "plus", User.IsInRole("dashboard.create"))
            <li class="divider"></li>
            @Html.AuthorizedMenu(Databases.MenuItem, "Index", "Database", "database", User.IsInRole("database.index"))
            @Html.AuthorizedMenu(Datasets.MenuItem, "Index", "Dataset", "th", User.IsInRole("dataset.index"))
            @Html.AuthorizedMenu(Reports.MenuItem, "Index", "Report", "list-alt", User.IsInRole("report.index"))
            @Html.AuthorizedMenu(Charts.MenuItem, "Index", "Chart", "chart-bar", User.IsInRole("chart.index"))
            @Html.AuthorizedMenu(Alerts.MenuItem, "Index", "Alert", "bell-alt", User.IsInRole("alert.index"))
            @Html.AuthorizedMenu(Users.MenuItem, "Index", "User", "user", User.IsInRole("user.index"))
            @Html.AuthorizedMenu(Roles.MenuItem, "Index", "Role", "key", User.IsInRole("role.index"))
            if (User.IsInRole("hangfire.dashboard"))
            {
                <li class="divider"></li>
                <li>
                    <a href="~/hangfire" title="@Core.Hangfire">
                        <i class="dash dash-fire dash-lg"></i> <span>@Html.Raw(Core.Hangfire)</span>
                    </a>
                </li>
                <li class="divider"></li>
            }
            <li>
                <a href="@Url.Action("ToggleContextHelp","Account")" id="toggleContextHelpBtn" class="@Html.Raw(Context.Session.GetString("ContextHelp").ToBool() ? "help-active" : "")" title="@Core.ToggleHelp">
                    <i class="dash dash-help dash-lg"></i> <span>@Html.Raw(Core.ToggleHelp)</span>
                </a>
            </li>
            <li class="divider"></li>
            @Html.AuthorizedMenu(Account.UpdateAccount, "Update", "Account", "asterisk", User.IsInRole("account.update"))
            @Html.AuthorizedMenu(Account.Logout, "LogOff", "Account", "logout", User.Identity.IsAuthenticated)
        }
        else
        {
            @Html.AuthorizedMenu(Account.Login, "Login", "Account", "login", true)
            @Html.AuthorizedMenu(Account.ForgotPassword, "ForgotPassword", "Account", "lamp", true)
        }
    </ul>
</div>
