@using Dash.Resources

<div id="sidebarWrapper">
    <ul class="nav-side">
        <li id="menuBtn" class="c-hand" data-toggle="nav-menu">
            <a><i class="dash dash-menu rn-lg"></i></a>
        </li>

        @if (User.Identity.IsAuthenticated)
        {
            <authorized-menu-item controller="Dashboard" action="Index" title="@Core.Dashboard" icon="Home" />
            <authorized-menu-item controller="Dashboard" action="Create" title="@Widgets.LinkAdd" icon="Plus" />
            <li class="divider"></li>
            <authorized-menu-item controller="Database" action="Index" title="@Databases.MenuItem" icon="Database" />
            <authorized-menu-item controller="Dataset" action="Index" title="@Datasets.MenuItem" icon="Th" />
            <authorized-menu-item controller="Report" action="Index" title="@Reports.MenuItem" icon="ListAlt" />
            <authorized-menu-item controller="Chart" action="Index" title="@Charts.MenuItem" icon="ChartBar" />
            <authorized-menu-item controller="Alert" action="Index" title="@Alerts.MenuItem" icon="BellAlt" />
            <authorized-menu-item controller="User" action="Index" title="@Users.MenuItem" icon="Users" />
            <authorized-menu-item controller="Role" action="Index" title="@Roles.MenuItem" icon="Key" />
            if (User.IsInRole("hangfire.dashboard"))
            {
                <li class="divider"></li>
                <li>
                    <a href="~/hangfire" target="_blank" title="@Core.Hangfire" class="pjax-no-follow">
                        <i class="dash dash-fire dash-lg"></i> <span>@Core.Hangfire</span>
                    </a>
                </li>
                <li class="divider"></li>
            }
            <authorized-menu-item controller="Account" action="ToggleContextHelp" title="@Core.ToggleHelp" icon="Help" force-reload="true" />
            <li class="divider"></li>
            <authorized-menu-item controller="Account" action="UpdateAccount" title="@Account.UpdateAccount" icon="User" />
            <authorized-menu-item controller="Account" action="LogOff" title="@Account.Logout" icon="Logout" has-access="true" is-pjax="false" />
        }
        else
        {
            <authorized-menu-item controller="Account" action="Login" title="@Account.Login" icon="Login" has-access="true" />
            <authorized-menu-item controller="Account" action="ForgotPassword" title="@Account.ForgotPassword" icon="Lamp" has-access="true" />
        }
    </ul>
</div>
