@using Dash.I18n
@model Dash.Models.LogOn

@using (Html.BeginBodyContent(Account.Login))
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Account.Login, "Login", "Account")
    });

    @using (Html.BeginCustomForm("Login", "Account", htmlAttributes: new { @class = "pjax-no-follow" }))
    {
        @Html.HiddenFor(m => m.ReturnUrl)

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(m => m.UserName, new { Autofocus = true })
                @Html.LabelPasswordFor(m => m.Password, new { })
            </div>
        </div>

        @Html.FormButtons(Account.Login, Html.ActionLink(Account.ForgotPassword, "ForgotPassword", "Account", null, new { @class = "btn btn-warning" }))
    }
}
