@using Dash.I18n
@model Dash.Models.LogOn

@using (Html.BeginBootForm("LogOn", "Account", ajaxForm: false))
{
    <div class="col-12 pb-5">
        <h4>@Account.Login</h4>
    </div>

    <div class="col-12">
        <div class="col-6">
            @Html.LabelInputFor(m => m.UserName)
            @Html.LabelPasswordFor(m => m.Password, new { })
        </div>
    </div>

    <div class="col-12 pt-2">
        <div class="col-6">
            <div class="row">
                <span class="form-buttons offset-4 col-8">
                    <input type="submit" value="@Account.Login" class="btn btn-primary" />
                    @if (Dash.Authorization.UsingDashAuth)
                    {
                        @Html.ActionLink(Account.ForgotPassword, "ForgotPassword", "Account", null, new { @class = "btn btn-warning rngn-ajax rngn-dialog" })
                    }
                </span>
            </div>
        </div>
    </div>
}