@using Dash.I18n;
@model Dash.Models.ResetPassword

@using (Html.BeginBootForm("ResetPassword", "Account", ajaxForm: false))
{
    <div class="col-12 pb-3">
        <h4>@Account.ResetPassword</h4>
    </div>

    @Html.ToCard(Account.ResetPasswordText)

    @if (!((string)ViewBag.Error).IsEmpty())
    {
        @Html.ToCard((string)ViewBag.Error, BootstrapTypes.Warning)
    }

    <div class="col-12 pt-2">
        <div class="col-6">
            @Html.HiddenFor(model => model.Email)
            @Html.HiddenFor(model => model.Hash)
            @Html.Hidden("IsReset", true)
            @Html.LabelInputFor(model => model.Password, new { data_match = "ConfirmPassword", required = true }, inputType: Dash.Html.InputFieldType.Password)
            @Html.LabelInputFor(model => model.ConfirmPassword, new { required = true }, inputType: Dash.Html.InputFieldType.Password)
        </div>
    </div>

    <div class="col-12 pt-2">
        <div class="col-6">
            <div class="row">
                <span class="form-buttons offset-4 col-8">
                    <input type="submit" value="@Html.Raw(Account.ResetPassword)" class="btn btn-primary" />
                </span>
            </div>
        </div>
    </div>
}