@using Dash.Resources
@model Dash.Models.UserMembership

<div class="container">
    <div class="columns">
        <div class="col-11 col-ml-auto pt-2">
            @using (Html.BeginCustomForm("TwoFactorLogin", "Account", ajaxForm: false))
            {
                @Html.HiddenFor(m => m.UserName)
                @Html.Hidden("LoginHash", Model.LoginHash)

                <div class="col-12 pb-2">
                    <h4>@Account.TwoFactor</h4>
                </div>

                <partial name="_Toast" />

                <div class="col-12 pt-2">
                    <div class="col-6">
                        @Html.LabelInputFor(m => m.AuthCode, new { required = true })
                    </div>
                </div>

                <div class="col-12 pt-2">
                    <div class="col-6">
                        <div class="columns">
                            <span class="form-buttons col-8 col-ml-auto">
                                <input type="submit" value="@Account.Login" class="btn btn-primary" />
                                @Html.ActionLink(Core.Cancel, "Login", "Account", null, new { @class = "btn btn-warning" })
                                @Html.ActionLink(Account.Help, "TwoFactorHelp", "Account", new { Username = Model.UserName }, new { @class = "btn btn-info" })
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
