@using Dash.Models
@using Dash.Resources
@model User

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Account.UpdateAccount, "Update", "Account")
    });

    <partial name="_Toast" />

    @using (Html.BeginCustomForm("Update", "Account"))
    {
        @Html.HiddenFor(model => model.Id)

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.FirstName)
                @Html.LabelInputFor(model => model.LastName)
                @Html.LabelPasswordFor(model => model.Password)
                @Html.LabelPasswordFor(model => model.ConfirmPassword)
                @Html.LabelInputFor(model => model.Email, inputType: Dash.Html.InputFieldType.Email)
                @Html.LabelDropDownListFor(model => model.LanguageId, new SelectList(Model.DbContext.GetAll<Language>(), "Id", "Name"))
            </div>
        </div>

        @Html.FormButtons()
    }
}

