@using Dash.Resources
@using Dash.Models
@model ReportFilter

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Reports.ViewAll" controller="Report" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Model.ReportName" controller="Report" action="Edit" route-values="@(new { Id = Model.ReportId })"></breadcrumb-item>
        <breadcrumb-item label="@Reports.Filters" controller="ReportFilter" action="Index" route-values="@(new { Id = Model.ReportId })"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Reports.CreateFilter : Reports.EditFilter)" controller="ReportFilter" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    @using (Html.BeginCustomForm(Model.FormAction, "ReportFilter", method: Model.FormMethod))
    {
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ReportId)
        @Html.HiddenFor(model => model.DisplayOrder)

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelDropDownListFor(x => x.ColumnId, new SelectList(Model.Columns, "Id", "Title"),
                    new { @data_toggle = "content-replace", @data_url = Url.Action("FilterOperators"), @data_params = "#Id,#ColumnId" })
                <partial name="_FilterOperators" />
            </div>
        </div>

        @Html.FormButtons()
    }
</body-content>
