@using Dash.Resources
@model Dash.Models.Database

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Databases.ViewAll" controller="Database" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Databases.CreateDatabase : Databases.EditDatabase)" controller="Database" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    @using (Html.BeginCustomForm(Model.FormAction, "Database", method: Model.FormMethod))
    {
        <input asp-for="Id" type="hidden" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.Name, new { autofocus = true })
                @Html.LabelDropDownListFor(model => model.TypeId, Dash.Models.Database.DatabaseTypeSelectList)
                @Html.LabelInputFor(model => model.Host)
                @Html.LabelInputFor(model => model.Port, inputType: Dash.Html.InputFieldType.Number)
                @Html.LabelInputFor(model => model.DatabaseName)
                @Html.LabelCheckBoxFor(model => model.AllowPaging)
            </div>

            <div class="col-6">
                @Html.LabelInputFor(model => model.User)
                @Html.LabelPasswordFor(model => model.Password)
                @Html.LabelPasswordFor(model => model.ConfirmPassword)
                @Html.LabelCheckBoxFor(model => model.IsEmptyPassword)
                @Html.LabelTextAreaFor(model => model.ConnectionString, new { rows = 4 })
            </div>
        </div>

        @Html.FormButtons()
    }
</body-content>
