@using Dash.Models
@model Role

@using (Html.BeginBootForm(Model.FormAction, "Role", null, Model.IsCreate ? Dash.I18n.Roles.CreateRole : Dash.I18n.Roles.EditRole, method: Model.FormMethod)) {
    @Html.HiddenFor(model => model.Id)

    <div class="col-12">
        <div class="col-6">
            @Html.LabelInputFor(model => model.Name)
        </div>
    </div>

    <div class="col-6">
        <div class="form-group row">
            @Html.ControlLabel("permissionIds", Dash.I18n.Roles.Permissions)
            <div class="col-8 rngn-collapsible-list">
                @foreach (var controller in Model.ControllerPermissions.Keys) {
                    <ul class="collapsible-list">
                        <li>
                            @Html.CustomCheckbox("controller", false, "", controller, inputId: $"controller_{controller}", isFullWidth: false)
                            <ul class="collapsible-list">
                                @foreach (var permission in Model.ControllerPermissions[controller]) {
                                    <li>
                                        @Html.CustomCheckbox("permissionIds", Html.IsChecked(Model.RolePermission, x => x.PermissionId == permission.Id, ((int[])ViewBag.SelectedPermissionIds), permission.Id), 
                                            permission.Id.ToString(), permission.ActionName, isFullWidth: false)
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            @Html.ControlLabel("userIds", Dash.I18n.Roles.Users)
            <div class="col-8 checkbox-block">
                @foreach (var user in Model.AllUsers)
                {
                    @Html.CustomCheckbox("userIds", Html.IsChecked(Model.UserRole, x => x.UserId == user.Id, ((int[])ViewBag.SelectedUserIds), user.Id), user.Id.ToString(), user.FullName)
                }
                @Html.Help("Role", "Users", false, true)
            </div>
        </div>
    </div>
}