@using Dash.Models
@using Dash.Resources;
@model Role

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Roles.CreateRole : Roles.EditRole)" controller="Role" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <horizontal-form for="Model">
        <input asp-for="Id" type="hidden" />

        <form-group-input for="Name" autofocus="true" />
        <div class="form-group">
            <form-label for="PermissionIds" />
            <div class="col-8 c-hand" data-toggle="collapsible-list">
                @foreach (var controller in Model.ControllerPermissions.Keys)
                {
                    <ul class="collapsible-list">
                        <li>
                            <form-checkbox name="Controller" label="@controller" id="@($"controller_{controller}")" />
                            <ul class="collapsible-list">
                                @foreach (var permission in Model.ControllerPermissions[controller])
                                {
                                    <li>
                                        <form-checkbox name="PermissionIds" value="@permission.Id" label="@permission.ActionName" is-checked="@Extensions.IsChecked(Model.RolePermission, x => x.PermissionId == permission.Id, ((int[])ViewBag.SelectedPermissionIds), permission.Id)" />
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <form-buttons />
    </horizontal-form>
</body-content>
