@using Dash.Models
@using Dash.Resources;
@model Role

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Roles.ViewAll" controller="Role" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@(Model.IsCreate ? Roles.CreateRole : Roles.EditRole)" controller="Role" action="@Model.FormAction" route-values="@(Model.IsCreate ? null : new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />

    <horizontal-form for="Model">
        <input asp-for="Id" type="hidden" />

        @Html.LabelInputFor(model => model.Name, new { autofocus = true })
        <div class="form-group">
            @Html.ControlLabel("PermissionIds", Dash.Resources.Roles.Permissions)
            <div class="col-8 c-hand" data-toggle="collapsible-list">
                @foreach (var controller in Model.ControllerPermissions.Keys)
                {
                    <ul class="collapsible-list">
                        <li>
                            @Html.CustomCheckbox("Controller", false, "", controller, inputId: $"controller_{controller}", isFullWidth: false, isMultiple: true)
                            <ul class="collapsible-list">
                                @foreach (var permission in Model.ControllerPermissions[controller])
                                {
                                    <li>
                                        @Html.CustomCheckbox("PermissionIds", Html.IsChecked(Model.RolePermission, x => x.PermissionId == permission.Id, ((int[])ViewBag.SelectedPermissionIds), permission.Id), permission.Id.ToString(), permission.ActionName, isFullWidth: false, isMultiple: true)
                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                }
            </div>
        </div>

        <form-buttons />
    </horizontal-form>
</body-content>
