@model Dash.Models.CreateChart
@using Dash.Resources

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Charts.ViewAll, "Index", "Chart"),
        new Breadcrumb(Charts.CreateChart, Model.FormAction, "Chart")
    });

    @using (Html.BeginCustomForm(Model.FormAction, "Chart", method: Model.FormMethod))
    {
        @Html.HiddenFor(model => model.Id)

        <partial name="_Toast" />

        <div class="columns">
            <div class="col-6">
                @Html.LabelInputFor(model => model.Name)
                @Html.LabelDropDownListFor(model => model.ChartTypeId, Dash.Models.Chart.ChartTypeSelectList)
            </div>
        </div>

        @Html.FormButtons()
    }
}
