@using Dash.Resources
@using Dash.Utils
@model Dash.Models.Chart

@if (!Model.ChartRange.Any())
{
    ViewBag.Error = Charts.ErrorNoRanges;
}

<body-content>
    <breadcrumb>
        <breadcrumb-item label="@Charts.ViewAll" controller="Chart" action="Index"></breadcrumb-item>
        <breadcrumb-item label="@Model.Name" controller="Chart" action="Edit" route-values="@(new { Id = Model.Id })" is-active="true"></breadcrumb-item>
    </breadcrumb>

    <partial name="_Toast" />
    <partial name="_ChartTabs" model="new ChartView(Model.Id, Model.IsOwner, ChartViewTab.Edit)" />

    <tab-panel id="report">
        @if (Model.ChartRange.Any())
        {
            <toolbar>
                <button class="btn btn-primary" data-toggle="@DataToggles.ChartExport.ToHyphenCase()">@Core.Export</button>
            </toolbar>

            <div class="chart-container container p-2" data-toggle="@DataToggles.Chart.ToHyphenCase()" data-url="@Url.Action("Data", "Chart", new { Id = Model.Id })">
                <partial name="_Chart" />
                <form action="@Url.Action("Export", "Chart")" class="export-form" method="POST" target="_blank">
                    <input type="hidden" name="filename" class="export-filename" value="@Model.Name" />
                    <input type="hidden" name="width" value="" class="export-width" />
                    <input type="hidden" name="data" value="" class="export-data" />
                </form>
            </div>
        }
    </tab-panel>
</body-content>
