@using Dash.I18n
@model Dash.Models.Chart

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Charts.ViewAll, "Index", "Chart"),
        new Breadcrumb(Charts.ShareChart, "Share", "Chart", new { id = Model.Id })
    });

    @using (Html.BeginCustomForm("Share", "Chart", null, null, "chartShareLoad", null, new { @class = "chart-share-form", @data_unload_event = "chartShareUnload" }, true, HttpVerbs.Put))
    {
        @Html.HiddenFor(model => model.Id)

        <partial name="_Toast" />

        @Html.ToCard(Reports.ShareReportExplain)

        <div class="columns">
            <div class="share-table-wrapper" data-json="@Model.ShareOptionsJson"></div>
        </div>

        @Html.FormButtons();
    }
}
