@using Dash.Resources
@using Dash.Models
@model Dataset

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Datasets.ViewAll, "Index", "Dataset"),
        new Breadcrumb(Datasets.EditDataset, Model.FormAction, "Dataset", new { Id = Model.Id }),
        new Breadcrumb(Datasets.Joins, "Index", "DatasetJoin", new { Id = Model.Id })
    });

    <partial name="_Toast" />

    <tab-list>
        <tab-item no-render="@(!User.IsInRole("dataset.edit"))">
            @Html.AuthorizedActionLink(Datasets.Overview, "Edit", "Dataset", new { Id = Model.Id }, new { @class = "btn btn-link", role = "tab" }, hasAccess: User.IsInRole("dataset.edit"))
        </tab-item>
        <tab-item>
            <a id="joinsTab" class="active" role="tab" data-toggle="tab" aria-controls="joinsTab">@Html.Raw(Datasets.Joins)</a>
        </tab-item>
        <tab-item no-render="@(!User.IsInRole("datasetcolumn.edit"))">
            @Html.AuthorizedActionLink(Datasets.Columns, "Index", "DatasetColumn", new { Id = Model.Id }, new { @class = "btn btn-link", role = "tab" })
        </tab-item>
    </tab-list>

    <tab-panel id="joinsContent" label-id="joinsTab">
        @using (Html.BeginToolbar())
        {
            @Html.AuthorizedButton(Core.Add, "Create", "DatasetJoin", new { Id = Model.Id }, DashClasses.BtnPrimary, hasAccess: User.IsInRole("datasetjoin.create"))
        }

        <div class="col-12">
            <div data-toggle="table" data-json="@Model.Table.ToJson"></div>
        </div>
    </tab-panel>
}
