@using Dash.I18n
@using Dash.Models
@model Dataset

@using (Html.BeginBodyContent())
{
    @Html.Breadcrumbs(new List<Breadcrumb> {
        new Breadcrumb(Datasets.ViewAll, "Index", "Dataset"),
        new Breadcrumb(Datasets.EditDataset, Model.FormAction, "Dataset", new { Id = Model.Id }),
        new Breadcrumb(Datasets.Joins, "Index", "DatasetJoin", new { DatasetId = Model.Id })
    });

    <partial name="_Toast" />

    <ul class="tab tab-block m-2" role="tablist">
        <li role="presentation" class="tab-item">
            @Html.AuthorizedActionLink(Datasets.Overview, Model.FormAction, "Dataset", new { Id = Model.Id }, new { @class = "btn btn-link", role = "tab" }, hasAccess: User.IsInRole("dataset.edit"))
        </li>
        <li role="presentation" class="tab-item">
            <a id="overviewJoins_@Model.Id" class="active" role="tab" data-toggle="tab" aria-controls="joinsTab_@Model.Id">@Html.Raw(Datasets.Joins)</a>
        </li>
        <li role="presentation" class="tab-item">
            @Html.AuthorizedActionLink(Datasets.Columns, "Index", "DatasetColumn", new { DatasetId = Model.Id }, new { @class = "btn btn-link", role = "tab" }, hasAccess: User.IsInRole("datasetcolumn.index"))
        </li>
    </ul>

    <div role="tabpanel" class="tab-pane" id="joinsContent_@Model.Id" aria-labelledby="joinsTab_@Model.Id">

        @using (Html.BeginToolbar())
        {
            @Html.AuthorizedButton(Core.Add, "Create", "DatasetJoin", new { DatasetId = Model.Id }, DashClasses.BtnPrimary, hasAccess: User.IsInRole("datasetjoin.create"))
        }

        <div class="col-12">
            <div data-toggle="table" data-json="@Model.Table.ToJson"></div>
        </div>
    </div>
}
